*{
    font-family: sans-serif;
    font: 18px;
    color: white;
    box-sizing: border-box;

}

body {
    background-color: rgb(25, 21, 40);
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(92, 22, 46);
    width: 20vw;
    min-height: 80vh;
    border-radius: 1rem;
}

.task-list-item {
    display: flex;
    justify-content: space-around;
    padding: 1rem 1.25rem 1rem 1.25rem;

}

.add-task-card {
    display: flex;
    justify-content: center;
    margin:0rem 1.25rem ;
}

#addTask {
    appearance: none;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1rem;
    height: 1.5rem;
    padding-left: 1rem;
    width: 100%;
    display: block;
}

#DeleteButton{
    appearance: none;
    color: white;
    background-color: transparent;
    border-radius: 2rem;
    border: 1px solid white;
    padding: 0rem .5rem;
    height: 1.5rem;
}

#CheckBox{
    margin-top: .4rem;

}

.task-list-card > div {
    padding-top: .22rem;
}